html
	head
		script(src = 'https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBh05L5akYR5BDBtF8WdUbZo0ljzj78GXw&libraries=places')
		script
			include ../directionfinding/directionFinding.js
			//- include ./PageJavascript.js
		script(src = "https://unpkg.com/axios/dist/axios.min.js")
		script(src = 'https://code.jquery.com/jquery-3.4.1.min.js')
		style 
			include ./style.css
		title Optimized Route Finder
body
	include ../partials/header

	div(class = "logo")
		a(class = "logo") Optimized Route Finder
		
	div(id = "travelMap")
	div
		h1 Find the best possible route with the given number of restaurant stops
		h1 Basic Search
		br
		| Enter the location which you wish to start from
		ul
		input(type = "text" id="startLocation")
		br
		| Enter the location which you wish to end up at
		ul
		input(type = "text" id="endLocation")
		button(type = "button" class = "button" id = "search" onclick=`findDirections();`) findDirections
		br
		button(type = "button" class = "button" id = "orders" onclick=`viewOrders();`) View Orders

	
			
			
	include ../partials/footer

