html
	head
		script
			include ./PageJavascript.js
		script(src = "https://unpkg.com/axios/dist/axios.min.js")
		script(src = 'https://code.jquery.com/jquery-3.4.1.min.js')
		style 
			include ./style.css
		title Product Database
body
	include ../partials/header

	div(class = "container")
		br
		p= motto
		br
		ul
		h1(id = "Reviews" style = "display: inline") Reviews: 
			each review in reviews
				h1(style = "display: block;" id = review) #{review}
			
	include ../partials/footer
